---
title:  "Homepage"
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include google-tag-manager.html %}
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <meta name="description" content="Skillbill is a software house with strong technological capabilities focused on the development of: Digital TV and multiscreen solutions for Set-top-box, Mobile applications, Web and Smart TV - Design, develop and management for Cloud based solution (Amazon Web Services, Microsoft Azure) in Video Streaming product for large scale OTT deployments - Highly interactive web applications / mobile apps - IoT and Smart Building applications">
  <meta name="keywords" content="software house, technology, development, set-top-box, mobile, web, design, cloud, iot, tv, smart tv, digital TV, OTT">
  <meta property="og:description" content="Skillbill is a software house with strong technological capabilities focused on the development of: Digital TV and multiscreen solutions for Set-top-box, Mobile applications, Web and Smart TV - Design, develop and management for Cloud based solution (Amazon Web Services, Microsoft Azure) in Video Streaming product for large scale OTT deployments - Highly interactive web applications / mobile apps - IoT and Smart Building applications">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.skillbill.it/">
  <meta property="og:title" content="Skillbill | Skill Matters">
  <meta property="og:site_name" content="skillbill.it">
  <meta property="og:locale" content="en_GB">
  <meta property="og:image" content="https://www.skillbill.it/images/meta_image2.jpeg">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SkillbillIt">
  <meta name="twitter:creator" content="@SkillbillIt">
  <meta name="twitter:title" content="Skillbill | Skill Matters">
  <meta name="twitter:description" content="Skillbill is a software house with strong technological capabilities focused on the development of: Digital TV and multiscreen solutions for Set-top-box, Mobile applications, Web and Smart TV - Design, develop and management for Cloud based solution (Amazon Web Services, Microsoft Azure) in Video Streaming product for large scale OTT deployments - Highly interactive web applications / mobile apps - IoT and Smart Building applications">
  <meta name="twitter:image:src" content="https://www.skillbill.it/images/meta_image2.jpeg">

  <title>{{ site.title }}</title>

  {% include static-res.html %}
</head>

<body id="page-top">
  {% include navbar.html %}

  <header class="text-white">
    <picture>
      <source  srcset="images/vs-white.webp" type="image/webp">
      <img src="images/vs-white.png" alt="background" type="image/png"/>
    </picture>
    <div class="">
      <div class="container">
        <div class="skillbill">
          <img src="images/logo_skillbill.svg" alt="Skillbill logo">
          <div class="logo-text">
            <h1>Skillbill</h1>
            <span>skill matters</span>
          </div>
        </div>
        <a id="learn-more-button"  class="js-scroll-trigger" href="#home">Discover us</a>
      </div>
    </div>
  </header>
  <main>
  <section id="home">
    <div class="container">
      <div class="highlights">
        <div class="mission">
          <h2>Mission</h2>
          <p>Maximum effectiveness in production of high quality software for our customers with the best mix of
            technology, methodology and engineering.<br>
            The company value is in the people: who works in Skillbill is
            prepared, passionate and pragmatic: in short "<b>Skill matters</b>".</p>
        </div>
        <div class="vision">
          <h2>Vision</h2>
          <ul>
            <li>
              <strong class="rotated">Selection</strong>
              <p>
                Skillbill's <b>recruitment</b> is tough.
                New Junior entries receive intense <b>training</b>.
                We do a constant <b>evaluation</b> of the people's skills trying to enhance them project by project.
              </p>
            </li>
            <li>
              <strong class="rotated">Transparency</strong>
              <p>We have maximum transparency in <b>internal and external</b> communications helping to create cohesion.</p>
            </li>
            <li>
              <strong class="rotated">Trustiness</strong>
              <p>
                With our skilled and productive human capital we are able to establish <b>long-term</b> customer relationships based on trust.
              </p>
            </li>
          </ul>

        </div>
        <div class="helping-customers">
          <h2>How Skillbill helps its customers?</h2>
          <p>Our expert consultants can <b>integrate quickly</b> within the customer's team sharing their targets and their
            challenges. They embrace the Agile approach, mastering SCRUM, and drive the customer throughout the project
            phases of design, development, testing, deployment and support. For Skillbill it’s important to accomplish
            the job fulfilling the deadlines agreed with the customer.</p>
        </div>
        <div class="what-we-can-do">
          <h2>What can Skillbill do for my company?</h2>
          <p>Skillbill can make the difference when a <b>robust software development</b> partner is needed. No matter what your
            preferred language or target O.S. is, we operate when the level of complexity is high. If you have a
            technical challenge, you are definitely in the right place. Our customer is generally a large company (also a
            multinational company) or a medium-large company.</p>
        </div>
      </div>
    </section>
    <section id="customers">
      <div class="container">
        <h2 class="text-center">Our latest customers</h2>

        <div class="customers-images">
          <a href="https://www.noriginmedia.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/noriginmedia.png" alt="Norigin Media logo" loading="lazy" />
            <span>Norigin Media</span>
          </a>
          <a href="https://uk.gcsrecruitment.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/gcs.png" alt="GCS logo" loading="lazy" />
            <span>GCS</span>
          </a>
          <a href="https://www.contactlab.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/contactlab.png" alt="Contactlab logo" loading="lazy" />
            <span>Contactlab</span>
          </a>
          <a href="https://www.messagenet.com" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/mess.png" alt="Messagenet logo" loading="lazy" />
            <span>Messagenet</span>
          </a>
          <a href="https://www.sky.it" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/sky.png" alt="Sky italia logo" loading="lazy" />
            <span>Sky italia</span>
          </a>
          <a href="http://www.cfmt.it/formazione" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/cfmt.png" alt="CFMT logo" loading="lazy" />
            <span>CFMT</span>
          </a>
          <a href="https://www.fastweb.it" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/fast.png" alt="Fastweb logo" loading="lazy" />
            <span>Fastweb</span>
          </a>
          <a href="https://www.bmc.com" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/bmc.png" alt="BMC Software logo" loading="lazy" />
            <span>BMC Software</span>
          </a>
          <a href="https://www.bottegaveneta.com" target="_blank" rel="noopener noreferrer">
            <img src="images/clients/bottega-veneta.png" alt="Bottega Veneta logo" loading="lazy" />
            <span>Bottega Veneta</span>
          </a>
        </div>
      </div>
    </section>

    <section id="stats" class="bg-light">
      <div class="container">
        <h2>Some company stats</h2>
        <ul class="statistics">
          <li><strong class="rotated">14</strong> <br>years of software development, 25% senior resources with over 20 years of experience
          </li>
          <li><strong class="rotated">130+</strong> <br>completed projects, approx. 30k hours / year of software development, 30% for foreign
            countries</li>
          <li><strong class="rotated">Languages</strong> <br>Java, JS, Python, C++, C, Go</li>
          <li><strong class="rotated">Areas</strong> <br>Microservices, Docker, Kubernets, CI/CD Pipelines, Embedded, Mobile, SmartTV, Set Top
            Boxes, SCADA, Machine Learning (Tesseract), BigData (Ms Azure Data Lake, Hadoop)</li>
          <li><strong class="rotated">Cloud</strong> <br>AWS, Azure, Serverless, Virtual machines, Containers, Terraform, Ansible</li>
          <li><strong class="rotated">Frontend</strong> <br>Angular, AngularJS, React, Vue, Webkit, SVG, </li>
          <li><strong class="rotated">Services</strong> <br>Redis, AuroraDB, DocumentDB, EC2, NOSQLs, RDBMs</li>
          <li><strong class="rotated">Organization</strong> <br>Agile / Scrum since 2005, Formation/Training</li>
        </ul>
      </div>
    </section>

    <section id="people">
      <div class="container">
        <div class="udating-skills">
          <h2>Our Team</h2>
          <p>Skillbill people are software developers. Thanks to their skills, they are able to cover many areas, from
            server software to complex user interfaces, mobile applications, mission critical field control software,
            streaming and multimedia applications and tools. Software is a key element of their professional interests.
            Partecipating and doing conferences, taking time for studying and having a costant exchange and support, we
            invests in technical skills to keep them updated on the latest technologies and to making sure that colleagues
            can have a successful career.</p>
          <p>We are always busy looking for the best languages, frameworks, skills, methodologies and tools that allow us
            to develop a better software. For Skillbill Better Software means a Software with less problems, easy to
            maintain, delivering top-class performances.</p>
        </div>

        <h2>Profiles</h2>
        <span>Some of us agreed to write a small profile ot themself here. We are proud to work with them and here you can
          have a look of our colleagues. You can see them in a random order.</span>

        <div class="profiles">
          <div>
            <h5 class="name">Antonio Castaldi - Toto</h5>
            <div>
              <img src="images/profiles/toto.jpeg" alt="antonio castaldi profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Entrepreneur<br>
                Father<br>
                Sportsman<br>
                Geek
              </p>
              <div>
                <b>Main Skills</b>
                <span>HRM, Production Manager, Software architect, Software developer</span>
              </div>
              <ul class="tags">
                <li><a href="https://github.com/toto-castaldi" target="_blank" rel="noopener noreferrer" aria-label="antonio castaldi github profile">GitHub</a></li>
                <li><a href="http://www.linkedin.com/in/antoniocastaldi" target="_blank" rel="noopener noreferrer" aria-label="antonio castaldi linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Francesco Ciacca - Franz</h5>
            <div>
              <img src="images/profiles/franz.jpeg" alt="francesco ciacca profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Nerd Entrepreneur<br>
                Engineer<br>
                Coder<br>
                Passionate about tech, sports, movies, theater and life<br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Software Architect, Solution Architect</span>
              </div>
              <ul class="tags">
                <li><a href="https://www.linkedin.com/in/francesco-ciacca-046547/" target="_blank" rel="noopener noreferrer" aria-label="francesco ciacca linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Antonio Salvati</h5>
            <div>
              <img src="images/profiles/antonio-salvati.jpeg" alt="antonio salvati profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Passionate about web development 🌍<br>
                Videogames player 🕹️<br>
                Pizza eater 🍕
              </p>
              <div>
                <b>Main Skills</b>
                <span>Frontend development, JavaScript, HTML, CSS</span>
              </div>
              <ul class="tags">
                <li><a href="https://twitter.com/salvan13" target="_blank" rel="noopener noreferrer" aria-label="antonio salvati twitter profile">Twitter</a></li>
                <li><a href="https://github.com/salvan13" target="_blank" rel="noopener noreferrer" aria-label="antonio salvati github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/antoniosalvati84/" target="_blank" rel="noopener noreferrer" aria-label="antonio salvati linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Angelo Di Filippo</h5>
            <div>
              <img src="images/profiles/angelo.jpeg" alt="angelo di filippo profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Passionate about technology &#128241;<br>
                Football fan &#9917;<br>
                Father &#128118;
              </p>
              <div>
                <b>Main Skills</b>
                <span>Fullstack engineer, Java, Python, JavaScript, Typescript, SQL, HTML, CSS</span>
              </div>
              <ul class="tags">
                <li><a href="https://twitter.com/ardf69" target="_blank" rel="noopener noreferrer" aria-label="angelo di filippo twitter profile">Twitter</a></li>
                <li><a href="https://github.com/ardf69" target="_blank" rel="noopener noreferrer" aria-label="angelo di filippo github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/ardf69/" target="_blank" rel="noopener noreferrer" aria-label="angelo di filippo linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Federica Piccolini</h5>
            <div>
              <img src="images/profiles/federica.piccolini.jpg" alt="federica piccolini profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Yoga<br>
                Cinema<br>
                Dance
              </p>
              <div>
                <b>Main Skills</b>
                <span>Administration, Project Managment, UX Designer</span>
              </div>
              <ul class="tags">
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Ugo Palatucci</h5>
            <div>
              <img src="images/profiles/ugo.jpg" alt="ugo palatucci profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Love to Learn<br>
                LoL player<br>
                <b>#sushi</b><br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Frontend Developer, Vue, JS, CSS</span>
              </div>
              <ul class="tags">
                <li><a href="https://www.instagram.com/ugopalatucci/" target="_blank" rel="noopener noreferrer" aria-label="ugo palatucci instagram profile">Instagram</a></li>
                <li><a href="https://github.com/upalatucci" target="_blank" rel="noopener noreferrer" aria-label="ugo palatucci github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/ugopalatucci" target="_blank" rel="noopener noreferrer" aria-label="ugo palatucci linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Carmine Capo</h5>
            <div>
              <img src="images/profiles/carmine.jpg" alt="carmine capo profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Football ⚽<br>
                Food 🍕<br>
                Sportsman 🚴‍♂️<br>
                <b>#seasun</b><br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Software Developer, Python, JavaScript, HTML, CSS </span>
              </div>
              <ul class="tags">
                <li><a href="https://github.com/karca4" target="_blank" rel="noopener noreferrer" aria-label="carmine capo github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/karca4/" target="_blank" rel="noopener noreferrer" aria-label="carmine capo linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Eleonora Fucci</h5>
            <div>
              <img src="images/profiles/eleonora.jpg" alt="eleonora fucci profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Animals & Nature Lover 🌳🦊<br>
                Runner 🏃🏼‍♀️<br>
                <b>#pizza4ever</b><br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Software Developer, Python, JS, HTML, CSS</span>
              </div>
              <ul class="tags">
                <li><a href="https://github.com/efucci" target="_blank" rel="noopener noreferrer" aria-label="eleonora fucci github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/eleonora-fucci-07423b160" target="_blank" rel="noopener noreferrer" aria-label="eleonora fucci linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Paolo Achdjian</h5>
            <div>
              <img src="images/profiles/paolo.jpg" alt="Paolo Achdjian profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Maker<br>
                Physics<br>
                Fantasy Book<br>
                Chess<br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Backend Software Developer, c++, java, kotlin, springboot</span>
              </div>
              <ul class="tags">
                <li><a href="https://github.com/paoloach" target="_blank" rel="noopener noreferrer" aria-label="Paolo Achdjian github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/paolo-achdjian-63b558/" target="_blank" rel="noopener noreferrer" aria-label="Paolo Achdjian linkedin profile">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Pierantonio Zocchi</h5>
            <div>
              <img src="images/profiles/pier.jpg" alt="Pierantonio Zocchi profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Team player<br>
                Football ⚽<br>
                Assiduous reader<br>
                Passionate about tech, sports and life<br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Full Stack Developer, javascript, java, angular, spring, springboot</span>
              </div>
              <ul class="tags">
                <li><a href="https://github.com/pzocchi" target="_blank" rel="noopener noreferrer" aria-label="Pierantonio Zocchi github profile">GitHub</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h5 class="name">Matteo Calderoni</h5>
            <div>
              <img src="images/profiles/matteo.jpg" alt="Matteo Calderoni profile picture" class="profile-picture" loading="lazy"></img>
            </div>
            <div>
              <p class="bio">
                Milan 🔴⚫<br>
                Japan 🇯🇵<br>
                Travel & food lover<br>
              </p>
              <div>
                <b>Main Skills</b>
                <span>Full Stack Developer, javascript, Vue, NodeJs, Perl.</span>
              </div>
              <ul class="tags">
                <li><a href="https://github.com/matteplus" target="_blank" rel="noopener noreferrer" aria-label="Matteo Calderoni github profile">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/matteocalderoni/" target="_blank" rel="noopener noreferrer" aria-label="Matteo Calderoni linkedin profile">LinkedIn</a></li>
              </ul>
            </div>
          </div>            
        </div>
      </div>
    </section>

    <section id="contact" class="bg-light">
      <div class="container">
        <h2>Skillbill in the World</h2>
        <p>
          Being a small team hasn’t stopped us from dreaming big. <br>
          Skillbill works with international customers, interacting and integrating with teams that are located all
          around the world. <br>
          Skillbill has an important history on it, which can prove its ability. Since its early days Skillbill has
          efficiently jumped at the opportunity given by Internet to serve remote customers across the world as if
          Skillbill were the next door company. And we don’t mean plain vanilla offshore outsourcing for routine tasks,
          but again challenging projects and awesome products aimed to be the next big thing. And who knows, soon enough
          Skillbill will be physically located at the next door of many companies all around the world. <br>
          We are also close to out customers even if they are abroad. The major cities are <b>Oslo</b>, <b>London</b> and <b>Amsterdam</b>.
        </p>

        <h2>Remote work</h2>

        <p>
          Currently <b>all</b> Skillbill workers do their work remotely.
          This flexibility will be maintained even after the period of urgency related to the pandemic event.
        </p>

        <hr>

        

        <div class="office-location">

          <h3>Milan's office</h3>
          <p>
            The historical Office is 5 minutes walk from the Duomo of Milano! Via Della Signora n.6 - 20122 MILAN
          </p>
          <iframe title="Milan map" allowfullscreen loading="lazy"
            src="https://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Via+della+Signora,+6,+20122+Milan,+Italy&amp;sll=45.464938,9.15519&amp;sspn=0.01064,0.027874&amp;ie=UTF8&amp;hq=&amp;hnear=Via+della+Signora,+6,+20122+Milan,+Lombardy,+Italy&amp;z=14&amp;ll=45.461703,9.196458&amp;output=embed"></iframe>

        </div>

        <hr>

        <div class="office-location">

          <h3>Salerno's Office</h3>
          <p>
            at "Palazzo Innovazione" in the center of the city
          </p>
          <iframe title="Salerno Map" allowfullscreen loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.692211610915!2d14.755434015721145!3d40.68075017933537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133bc228d223c0d7%3A0xdd2b0bd1c72d0374!2sPalazzo+Innovazione!5e0!3m2!1sen!2sit!4v1560937340702!5m2!1sen!2sit"></iframe>
        </div>

        <hr>

        <div class="contact">
          <dl>
            <dt>Admin Office</dt>
            <dd>Via XX Settembre n.114/A - 06124 PG</dd>

            <dt>P.IVA</dt>
            <dd>02850410545</dd>

            <dt>COD. DEST.</dt>
            <dd>USAL8PV</dd>

            <dt>Email</dt>
            <dd><a href="mailto://info@skillbill.it">info@skillbill.it</a></dd>
          </dl>
        </div>

      </div>
    </section>
    

  </main>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Skillbill 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Custom JavaScript for this theme -->
  <script src="js/index.js"></script>

</body>

</html>
