---
title: Skillbill | News
description: 'Skillbill is a software house with strong technological capabilities
focused on the development of: Digital TV and multiscreen solutions for Set-top-box,
Mobile applications, Web and Smart TV - Design, develop and management for Cloud
based solution (Amazon Web Services, Microsoft Azure) in Video Streaming product
for large scale OTT deployments - Highly interactive web applications / mobile apps
- IoT and Smart Building applications'
layout: default
---

<section id="news">
  <div class="container">
    <h2>Recent</h2>
    <ul>
      {% for post in site.posts %}
      <li class="post">
        <div>
          <img class="post-preview" src="{{ post.image }}">
          <div>
            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
            <p class="post-excerpt">{{ post.excerpt }}</p>
            {%if post.reading_time%}
            <span>{{post.reading_time}}</span>
            {% endif %}
            {%if post.tags and post.tags.size > 0%}
            <div class="post-tags">
              Tags:
              {% for tag in post.tags %}
                <span>{{tag}}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>

        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>