<meta charset="utf-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property="og:type" content="website">
<meta property="og:url" content="https://www.skillbill.it/">
<meta property="og:description" content="Skillbill is a software house with strong technological capabilities focused on the development of: Digital TV and multiscreen solutions for Set-top-box, Mobile applications, Web and Smart TV - Design, develop and management for Cloud based solution (Amazon Web Services, Microsoft Azure) in Video Streaming product for large scale OTT deployments - Highly interactive web applications / mobile apps - IoT and Smart Building applications">
<meta property="og:title" content="Skillbill | Skill Matters">
<meta property="og:site_name" content="skillbill.it">
<meta property="og:locale" content="en_GB">
<meta property="og:image" content="https://www.skillbill.it/images/meta_image2.jpeg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SkillbillIt">
<meta name="twitter:creator" content="@SkillbillIt">
<meta name="twitter:title" content="Skillbill | Skill Matters">
<meta name="twitter:description" content="Skillbill is a software house with strong technological capabilities focused on the development of: Digital TV and multiscreen solutions for Set-top-box, Mobile applications, Web and Smart TV - Design, develop and management for Cloud based solution (Amazon Web Services, Microsoft Azure) in Video Streaming product for large scale OTT deployments - Highly interactive web applications / mobile apps - IoT and Smart Building applications">
<meta name="twitter:image:src" content="https://www.skillbill.it/images/meta_image2.jpeg">

<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="software house, technology, development, set-top-box, mobile, web, design, cloud, iot, tv, smart tv, digital TV, OTT">
