<meta charset="utf-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property="og:type" content="website">
<meta property="og:url" content="https://www.skillbill.it/">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:title" content="{{ page.title}}">
<meta property="og:site_name" content="skillbill.it">
<meta property="og:locale" content="en_GB">
<meta property="og:image" content="https://www.skillbill.it{{ page.image }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SkillbillIt">
<meta name="twitter:creator" content="@SkillbillIt">
<meta name="twitter:title" content="{{ page.title}}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image:src" content="https://www.skillbill.it{{ page.image }}">

<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="software house, technology, development, set-top-box, mobile, web, design, cloud, iot, tv, smart tv, digital TV, OTT">
