<nav class="navbar navbar-expand-lg navbar-light absolute" id="mainNav">
    <div class="container">
      <a class="navbar-brand-home" href="/">
        <div class="logo">
          <img src="/images/logo_skillbill_00.svg" alt="Skillbill logo">
        </div>
      </a>
      <a class="navbar-brand" href="#">
        <div class="logo">
          <img src="/images/logo_skillbill_00.svg" alt="Skillbill logo">
          <div class="logo-text">
            <strong>Skillbill</strong>
            <span>skill matters</span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button primary" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/customers.html">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/people.html">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news/">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-submenu" href="#">Business Lines</a>
            <ul class="nav-submenu">
              <li class="nav-item">
                <a class="nav-link" href="/fullstack-dev-streaming-solution.html">Streaming Tech</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/devops-for-network-operations.html">Operation to DevOps</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/frontend-scada.html">Frontend Scada</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>