<link rel="icon" type="image/svg+xml" href="/images/logo_skillbill_00.svg" />
<link rel="alternate icon" type="image/png" href="/images/logo_skillbill_80_00.png" />
<link rel="apple-touch-icon" href="/images/logo_skillbill_00.svg">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="/css/style.css?ver=20" rel="stylesheet">
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script>
  function openCalendly() {
      Calendly.showPopupWidget('https://calendly.com/donato-pascazio/30min');
  }
</script>
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>