<link rel="icon" type="image/svg+xml" href="images/logo_skillbill.svg" />
<link rel="alternate icon" type="image/png" href="images/logo_skillbill_80.png" />
<link rel="apple-touch-icon" href="images/logo_skillbill.svg">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="preload" href="fonts/Montserrat-Bold.ttf" as="font">
<link rel="preload" href="fonts/Montserrat-Medium.ttf" as="font">
<link rel="preload" href="js/index.js" as="script">
<link href="css/style.css?ver=6" rel="stylesheet">