:root {
  --dark-blue: #003363;
  --blue: #0063c2;
  --orange: #fa6603;
  --yellow: #ffce31;
  --white: #fff;
  --black: #0a0a0a;
  --gray: #6a6a6a;
  --dark-gray: #222;
  --light-gray: #f0f0f0;
  --light-green: #8aff8a;
  --light-red: #e03e3e;
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--white);
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--orange);
}

nav.navbar ul li a:focus {
  text-decoration: underline;
}

body {
  font-family: 'Montserrat', sans-serif;
}

b {
  color: var(--orange);
}

/* Base Elements */

a {
  color: var(--blue);
}

a:hover {
  color: var(--dark-blue);
}

a:focus {
  outline: 0.2rem solid var(--orange);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}

strong.rotated {
  display: inline-block;
  font-size: 180%;
  background-color: var(--orange);
  color: var(--white);
  padding: 0 0.3rem;
  transform: rotate(-3deg) scale(1.05);
  margin-bottom: .5rem;
}

.navbar a:focus {
  outline: none;
}

.navbar .logo {
  display: flex;
  align-content: center;
  justify-content: start;
  color: var(--blue);
}

.navbar img {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.75rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--gray);
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--blue);
}

.navbar-light {
  background-color: var(--white);
}

.navbar .logo-text > * {
  margin-bottom: 0;
  line-height: 1.2rem;
  font-weight: 700;
}

.navbar .logo-text > h1 {
  font-size: 1.4rem;
}

.navbar .logo-text > p {
  color: var(--orange);
  font-size: 14px;
}


header {
  height: 100vh;
  position: relative;
}

header picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

header picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

header *{
  color: var(--white);
}

header > div {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#learn-more-button:hover {
  text-decoration: none;
}

#learn-more-button {
  background: white;
  padding: .5rem 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: var(--orange);
}
/*
#learn-more-button {
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--white);
}

#learn-more-button:hover {
  border: 1px solid #cc5200;
  background-color: #cc5200;
}

#learn-more-button:focus {    
  box-shadow: 0 0 0 0.2rem #fd7e147a;
}
*/


section {
  padding: 150px 0;
}

#home .vision > * {
  margin-bottom: 1.75rem;
}

/* ul.tags */
ul.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
}

ul.tags li {
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  background-color: var(--dark-blue);
  border-radius: 0.4rem;
  transition: filter 0.3s ease;
}

ul.tags li:hover {
  filter: brightness(150%);
}

ul.tags li a,
ul.tags li span {
  display: block;
  color: var(--white);
  text-decoration: none;
}

/* Clients Section */
#clients .clients-images {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  font-size: 1rem;
}

#clients .clients-images a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  box-shadow: 0 0 0.5rem #c0c0c0;
  transition: transform 0.2s ease;
  margin: 1rem;
}

#clients .clients-images a img {
  max-width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.2s ease;
}

#clients .clients-images a:hover {
  transform: scale(1.1);
}

#clients .clients-images a:hover {
  transform: scale(1.1);
}

#clients .clients-images a:hover img,
#clients .clients-imagesù a:focus img {
  filter: grayscale(0%);
}


/* Stats Section */
#stats .statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  margin: 2rem 0;
  list-style: none;
  padding: 0;
}

#stats .statistics li {
  padding: 1rem;
  /* border: 0.2rem solid var(--orange); */
}

#stats .statistics li strong {
  font-weight: normal;
}

/* People Section */
#people .profiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}

#people .profiles > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: 0 0 0.5rem #c0c0c0;
  transition: transform 0.2s ease;
}

#people .profiles > div > * {
  margin: 0.5rem 0;
}

#people .profiles img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

#people .profiles > div:hover img {
  transform: scale(1.13);
}

/* Contact Section */
#contact iframe {
  width: 100%;
  height: 400px;
  border: 0;
}
