<!DOCTYPE html>
<html lang="en">

<head>
    {% include google-tag-manager.html %} {% include meta.html %}
    <title>{{ page.title }} | Skillbill </title>
    {% include static-res.html %}
</head>

<body id="page-top">
    {% include navbar.html %}

    <div id="spacer">

    </div>
    <main>

        {{ content }}

    </main>

    <section class="cta" id="reach">
        <a href="">
            <div class="container">
                <div>
                    <img src="/images/online-meeting.svg">
                    <div>
                        <span>Want to reach out?</span><br>
                        <strong>Schedule a free consultation</strong>
                    </div>
                </div>
            </div>
        </a>
    </section>

    <div id="cookie-banner">
        <span>Accept cookies from Skillbill on this browser? We use cookies. Learn more about cookie uses and controls in our <a href="/cookie-policy.html">[Cookie
                Policy]</a>.
        </span>
        <button>Accept all</button>
    </div>

    <footer class="">
        <div class="container">
            <ul class="">
                <li><strong>Skillbill</strong> - <span>skill matters</span></li>
                <li> <a href="mailto:info@skillbill.it">info@skillbill.it</a></li>
                <li> <a href="/privacy-policy.html">Privacy Policy</a></li>
                <li> <a href="/cookie-policy.html">Cookie Policy/Law</a></li>
                <li>
                    <div>
                        <a href="https://www.linkedin.com/company/skillbill-srl/" target="_blank"
                            rel="noopener">Linkedin</a> - <a href="https://github.com/Skillbill" target="_blank"
                            rel="noopener">GitHub</a>
                    </div>
                </li>
                <li>
                    Copyright &copy; Skillbill 2024
                </li>
            </ul>
        </div>

        </div>
    </footer>


    <script src="/js/index.js?ver=8"></script>

</body>

</html>
