<!DOCTYPE html>
<html lang="en">

<head>
  {% include google-tag-manager.html %}
  {% include meta.html %}
  <title>{{ page.title }}</title>
  {% include static-res.html %}
</head>

<body id="page-top">
  {% include navbar.html %}

  <div id="spacer" >
    
  </div>
  <main>

    {{ content }}

  </main>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Skillbill 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Custom JavaScript for this theme -->
  <script src="js/index.js"></script>

</body>

</html>