---
layout: default
---

<header class="text-white">
  <picture>
    <source  srcset="images/vs-white.webp" type="image/webp">
    <img src="images/vs-white.png" alt="background" type="image/png"/>
  </picture>
  <div class="">
    <div class="container">
      <div class="skillbill">
        <img src="images/logo_skillbill.svg" alt="Skillbill logo">
        <div class="logo-text">
          <h1>Skillbill</h1>
          <span>skill matters</span>
        </div>
      </div>
      <a id="learn-more-button"  class="js-scroll-trigger" href="#home">Discover us</a>
    </div>
  </div>
</header>

{{ content }}