---
layout: default
type: post
---

<section id="post">
  <div class="container">
    <div class="post-header">
      <span class="post-date">{{ page.date | date: "%-d %B %Y"}}</span>
      {%if page.categories.size > 0%}
      <span>in
        {% assign size = page.categories.size | minus: 1%}
        {% for category in page.categories limit: size %}
        <a href="/category/{{category | slugify}}">{{category | downcase}}</a>,
        {% endfor %}
        <a href="/category/{{page.categories | last | slugify}}">{{page.categories | last | downcase}}</a>
      </span>
      {%endif%}
      <span class="post-reading-time">
        <img src="/images/reading_time.svg">
        <span>
          {{ page.content | split: " " | size | divided_by: 200.0 | ceil }} min
        </span>
      </span>
      {%if page.tags and page.tags.size > 0%}
      <ul class="tags">
        {% for tag in page.tags %}
        <li><a href="/tag/{{tag | slugify}}">{{tag | downcase}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <h1>{{ page.title }}</h1>
    <div class="content">
      {{ content }}
    </div>
    <div class="share">
      <span>Share this article on</span>
      <div class="links"></div>
      <script src="/js/share.js" defer></script>
    </div>
  </div>
</section>